<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SDH_BIM_Takip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SDH_BIM_Takip.Properties.Settings>
            <setting name="server_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="kadi" serializeAs="String">
                <value />
            </setting>
            <setting name="sifre" serializeAs="String">
                <value />
            </setting>
            <setting name="ayarsiz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="e_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarkodYazici" serializeAs="String">
                <value />
            </setting>
            <setting name="BarkodSayisi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FormYazici" serializeAs="String">
                <value />
            </setting>
            <setting name="FormSayisi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Turler" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bilgisayar Kasası</string>
                        <string>Server</string>
                        <string>Dizüstü Bilgisayar</string>
                        <string>Bilgisayar Diğer</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SDH_BIM_Takip.Properties.Settings>
    </userSettings>
<connectionStrings><add name="BIM_STOKEntities" connectionString="metadata=res://*/bimstokveri.csdl|res://*/bimstokveri.ssdl|res://*/bimstokveri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.211.224.64;initial catalog=BIM_STOK;user id=Bim_Stok;password=Sirtuex12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>